body{
  	background-image: url("backimg.jpg");
  	background-repeat:no-repeat;
	background-size: cover;
	background-position: center ;
	background-attachment: fixed;/*important*/


}
*{
	color: white;
	font-family: "Montserrat";/*google font*/
	margin:5px;
}
h2{
	display: inline;

}
#start{
	margin: 10px;
}
#huff{
	margin-top: 150px;
}
